.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100svh;
}
.video {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover !important;
}
.darkVideoCover {
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
  object-fit: cover !important;
  background-color: rgba(7, 7, 7, 0.6);
  backdrop-filter: blur(3px);
  transition: background-color 300ms ease-out, z-index 0ms linear 300ms,
    backdrop-filter 300ms linear 0ms;
}
.darkVideoCoverHidden {
  background-color: rgba(7, 7, 7, 0);
  transition: background-color 300ms linear 0ms;
  backdrop-filter: none;
  z-index: -1;
}
.contactFormWrapper {
  padding: 48px 12px 0px;
  z-index: 99;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  opacity: 1;
  transition: opacity 0ms linear 300ms; /* Adding 300ms delay before transition */
}
.contactFormWrapperHidden {
  opacity: 0;
  transition: opacity 0ms linear 300ms; /* Adding 300ms delay before transition */
}
.videoPoster {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover !important;
}
.video * {
  object-fit: cover !important;
}
.content {
  padding: 48px 12px 0px;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  opacity: 1;
}

.contentHidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0ms linear 300ms;
  animation: glitch 0.3s linear 2;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(12px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-12px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(30deg);
  }
}

.contentHidden:before,
.contentHidden:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.contentHidden:before {
  animation: glitchTop 0.3s linear 2;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  36% {
    transform: translate(12px, -12px);
  }
  4%,
  40% {
    transform: translate(-12px, 12px);
  }
  38% {
    transform: translate(78px, -6px) skew(-78deg);
  }
}

.contentHidden:after {
  animation: glitchBotom 0.3s linear 2;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-12px, 0);
  }
  4%,
  60% {
    transform: translate(-12px, 0);
  }
  62% {
    transform: translate(-132px, 30px) skew(132deg);
  }
}

.logoTitle {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  line-height: 90%;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 11px;
}
.logo {
  aspect-ratio: 177 / 69;
  position: relative;
  width: 174.48px;
}
.subtitle {
  font-family: monospace !important;
  text-align: center;
  font-size: 16px;
  line-height: 115%;
  margin-top: 2px;
  text-transform: uppercase;
}

.infoWrapper {
  font-size: 12px;
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}
.infoContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 160px;
}
.infoTitle {
  font-size: 10px;
  letter-spacing: -0.04em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.infoLink {
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: -13.3px 0px -10.3px;
}
.infoSub,
.infoMain,
.infoLink {
  font-family: monospace !important;
  line-height: 17.4px !important;
  text-shadow: 2px 6px 2px 0px rgb(7, 7, 7) !important;
}
.infoMain {
  text-transform: uppercase;
  white-space: nowrap;
}
.infoSub {
  letter-spacing: -0.02em;
}
.desktopTitle {
  display: none;
}
.mobileButton {
  position: fixed;
  width: calc(100% - 24px);
  bottom: 24px;
  left: 12px;
  background-color: #dedede;
  height: 42px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  box-shadow: 0px 2px 20px -10px #fff;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 0;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    padding: 8px 24px;
    height: fit-content;
  }
  .titleWrapper {
    flex-direction: row;
    gap: 24px;
  }
  .logo {
    width: auto;
    height: 44px;
  }
  .logoTitle {
    text-align: left;
  }
  .subtitle {
    text-align: left;
  }
  .desktopTitle {
    display: flex;
    flex-direction: column;
    width: 220px;
  }
  .logoTitle,
  .subtitle {
    display: none;
  }
  .desktopTitle * {
    display: flex !important;
    font-size: 12px;
    line-height: 130% !important;
  }
  .desktopTitle .logoTitle {
    font-size: 15px;
  }
  .infoWrapper {
    justify-content: flex-end;
    width: 100%;
  }
  .mobileButton {
    display: none;
  }
}
